<html>
    <head>
        <title>Principal</title>
        <link rel='stylesheet' type='text/css' href='/static/style.css'/>
    </head>
    <body>
        <h1>{{ vmachine.name }}</h1>
        <h3>{{ vmachine.os }}</h3>

        <div>
            <p>{{ vmachine.get_status() }}</p>
        </div>
        <div>
                    <a href="/change_status/0">Parar</a>
                    <a href="/change_status/1">Arrancar</a>
                    <a href="/change_status/2">Suspender</a>
                </div>

        <table>
          <tr>
            <td colspan="2"></td>
            <td><strong>TOTAL</strong></td>
            <td><strong>%USADO</strong></td>
          </tr>

          <tr>
            <td colspan="2">RAM</td>
            <td>{{ vmachine.ram }} GB</td>
            <td>{{ vmachine.ram_usage() }}%</td>
          </tr>

          <tr>
            <td colspan="2">CPU</td>
            <td>{{ vmachine.cpu}} Ghz</td>
            <td>{{ vmachine.cpu_usage() }}%</td>
          </tr>

          <tr>
            <td colspan="2">HDD</td>
            <td>{{ vmachine.hdd }} MB</td>
            <td>{{ vmachine.hdd_usage() }}%</td>
          </tr>
        </table>

        <a href="/run_process">Lanzar proceso</a>

        {% for proc in vmachine.proc %}
        <table>
          <tr>
            <td>Proceso {{proc.pid}}</td>
          </tr>
          <tr>
            <td>RAM: {{proc.ram}} GB | CPU: {{proc.cpu }} Ghz | HDD: {{proc.hdd}} MB</td>
          </tr>
        </table>
        {% endfor %}

    </body>
</html>
